<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<RollingFile name="RollingFile" fileName="${sys:SCHEDULER_HOME}/logs/scheduler.log"
			filePattern="${sys:SCHEDULER_HOME}/logs/scheduler-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level %logger{1} - %L - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level %logger{1} - %L - %msg%n" />
			<RegexFilter regex="org.apache.http.*" onMatch="DENY" onMismatch="ACCEPT"/>
			<RegexFilter regex="java.net.SocketTimeoutException" onMatch="DENY" onMismatch="ACCEPT"/>
		</Console>
	</appenders>

	<loggers>
		<root level="info">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="STDOUT" />
		</root>
		<logger level="ERROR" name="org.apache.http" />
		<logger level="ERROR" name="java.net.SocketTimeoutException" />
	</loggers>
</configuration>  